.midBoardRow {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.midBoardCol {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.col-4 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    min-height: 75px;
    cursor: pointer;
}

.winner {
    background-color: green;
}

#winnerText {
    justify-self: center;
    font-size: 40px;
    font-weight: bold;
}

.playerInputs > .row {
    margin-bottom: 15px;
}

.col-6 {
    text-align: center;
}

.centerText {
    justify-self: center;
}

p.centerText {
    font-weight: bold;
    font-size: 18px;
}

.historyCard {
    width: 18rem;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
}

.containerFlex > div {
    width: 31%;
    margin: 10px;
}