div {
    background-color: grey;

    }  

  .webApp2 {
        display: grid;
        grid-template-columns: repeat(20, auto);
        gap: 10px;
        padding: 5px;
        background-color: blueviolet;
        grid-template-areas: 
        "header1 header1 header1 header1 header1 header1 header1 header1 header2 header2 header2 header2 header2 header2 header2 header2 header2 six six six"
        "three three three three three three three three three three three three three four four four four six six six"
        "five five five five five five five five five five five five five five five five five six six six"
        "seven seven eight eight eight eight eleven twelve twelve twelve twelve twelve twelve thirteen thirteen thirteen thirteen six six six"
        "seven seven nine nine nine ten eleven fourteen fourteen fifteen fifteen sixteen sixteen seventeen seventeen eighteen eighteen eighteen eighteen eighteen";
    }